<div class = "pro-main ed-main">            
    <div class ="pro-sidebar ed-midbar">
        <div class ="pro-sidebar-bg ed-midbar-bg">
            <h2 class="sb-name">
                <input id="edit-name" value="{{ name }}">
            </h2>
            <div class="sb-pic hov1">
                <img id="edit-avatar" src="/imgs/avatars/{{ avatar }}">
            </div>
            <textarea id="edit-description" value="{{ description }}"></textarea>
            <div class="ed-div">
                <a class="edit-user ed-cancel hov1" href="bob123.html">
                    <p class="ed-cancel-text">CANCEL</p>
                </a>
                <a class="edit-user ed-save hov1" href="">
                    <p class="ed-save-text">SAVE</p>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="/js/editprofile.js"></script>
