<div class = "pro-main ed-main">            
    <div class ="pro-sidebar ed-midbar">
        <div class ="pro-sidebar-bg ed-midbar-bg">
            <h2 class="sb-name" class="ed-hover"><span class="thov1">Bob123</span></h2>
            <div class="sb-pic hov1">
                <img src="imgs/profiles/bob123.jpg" alt="">
            </div>
            <p class="sb-description thov1">Hello! My name is Bob123, I love reading books and trying out different restaurants... that is until my son died in Burger Man due to an accident.</p>
            <div class="sb-stats">
                <p class="reviews"><span class="orange-bold">52</span> reviews</p>
                <p class="erms"><span class="orange-bold">-690</span> erms</p>
            </div>
            <div class="ed-div">
                <a class="edit-user ed-cancel hov1" href="bob123.html">
                    <p class="ed-cancel-text">CANCEL</p>
                </a>
                <a class="edit-user ed-save hov1" href="">
                    <p class="ed-save-text">SAVE</p>
                </a>
            </div>
        </div>
    </div>
</div>
