<div class = "pro-main ed-main">            
    <div class ="pro-sidebar ed-midbar">
        <div class ="pro-sidebar-bg ed-midbar-bg">
            <h2 class="sb-name">
                <input id="edit-name" value="{{ name }}" placeholder="Enter name...">
            </h2>
            <div class="sb-pic hov1">
                <img id="edit-avatar" src="/imgs/avatars/{{ avatar }}">
            </div>
            <textarea id="edit-description" placeholder="Enter description...">{{ description }}</textarea>
            <div class="ed-div">
                <a id="edit-cancel" class="edit-user ed-cancel hov1">
                    <p class="ed-cancel-text">CANCEL</p>
                </a>
                <a id="edit-save" class="edit-user ed-save hov1">
                    <p class="ed-save-text">SAVE</p>
                </a>
            </div>
            <p id="edit-msg"></p>
        </div>
    </div>
</div>

<script src="/js/editprofile.js"></script>
