<div id="err-container">
    <img src="/imgs/error.gif" id="err-img" alt="">
    <h1 id="err-title">Is that.... an error!??</h1>
    <h2 id="err-sub">TODO:</h2>
    <p id="err-msg">{{ message }}</p>
</div>
