<div id="p1-content">
    <div id="p1-label-container">
        <div id="p1-label-left">
            <span class="icon icon-lg p1-star-i"></span>
            <h1 class="p1-label">Rate and Review!</h1>
        </div>
        <div id="p1-label-right">
            <h1 class="p1-label">Sort</h1>
            <span class="icon icon-lg p1-filter-i hov2"></span>
        </div>
    </div>
    <div id="p1-restaurants-container">
        <ul id="p1-restaurants-list">
            <li>
                <div class="p1-card hov1">
                    <a href="burgerMan.html">
                        <img class="p1-card-img" src="imgs/restaurants/burger-man.jpg" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="burgerMan.html">
                            <h2 class="p1-resto-name">Burger Man</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="p1-reviews">(21 reviews)</span>
                        <p class="p1-description">Burger Man is the product of a 100% American father's love for fun, family, and some good old-fashioned food! Based in Edgeville. 
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
