<div class="p1-content">
    <div class="p1-label-container">
        <span class="icon p1-star-i"></span>
        <h1 class="p1-label">Rate and Review!</h1>

        <span class="icon p1-filter-i hov2"></span>
    </div>
    <div class="p1-restaurants-container">
        <ul id="p1-restaurants-list">
            <li>
                <div class="p1-card hov1">
                    <a href="burgerMan.html">
                        <img class="p1-card-img" src="imgs/restaurants/burger-man.jpg" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="burgerMan.html">
                            <h2 class="p1-resto-name">Burger Man</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="p1-reviews">(21 reviews)</span>
                        <p class="p1-description">Burger Man is the product of a 100% American father's love for fun, family, and some good old-fashioned food! Based in Edgeville. 
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="freds.html">
                        <img class="p1-card-img" src="imgs/restaurants/freds-froyo.jpg" alt="">
                    </a>
                    <div class="p1-card-info">

                        <a href="freds.html">
                            <h2 class="p1-resto-name">Fred's Froyo</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-half-i"></span>
                        <span class="p1-reviews">(3k reviews)</span>
                        <p class="p1-description">Get your froyo (frozen yogurt) at Fred's, here we serve the best frozen treats in Edgeville! Been the best around since '89!</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="mcwonalds.html">
                        <img class="p1-card-img" src="imgs/restaurants/mcwonalds.jpg" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="mcwonalds.html">
                            <h2 class="p1-resto-name">McWonald's</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-half-i"></span>
                        <span class="icon p1-rating-toggle-i"></span>
                        <span class="p1-reviews">(21.3k reviews)</span>
                        <p class="p1-description">Burgers and chicken galore! Get your favorite snacks from McWonald's today! 20% off for children under 13 until the end of September.</p>
                    </div>
                </div>
            </li>

            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>
            <li>
                <div class="p1-card hov1">
                    <a href="review.html">
                        <img class="p1-card-img" src="imgs/restaurants/rest_def.png" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="review.html">
                            <h2 class="p1-resto-name">Placeholder Resto</h2>
                        </a>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(300 reviews)</span>
                        <p class="p1-description">
                        This is a placeholder restaurant. It is not one of our 3 pieces of "real" sample data. It is only here to provide extra entries to show what the website looks like under higher traffic.
                        </p>                            
                    </div>
                </div>
            </li>



            <li>
                <div class="p1-card hov1">
                    <a id = "jumpscare" href = "imgs/bgs/gf.jpg"><img class="p1-card-img" src="imgs/restaurants/freddy-fazbears-pizza.jpg" alt=""></a>
                    <div class="p1-card-info">
                        <h2 class="p1-resto-name">Freddy Fazbear's Pizza</h2>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="icon p1-rating-i"></span>
                        <span class="p1-reviews">(12.2k reviews)</span>
                        <p class="p1-description">Har har har har har har har har har, har har har har, har har har har.</p>
                    </div>
                </div>
            </li>
            <li id="p1-card-hidden" style="display: none">
                <div class="p1-card hov1">
                    <a href="index.html">
                        <img id="p1-hidden-img" class="p1-card-img" src="imgs/rev/b2.jpg" alt="">
                    </a>
                    <div class="p1-card-info">
                        <a href="index.html">
                            <h2 class="p1-resto-name">?????</h2>
                        </a>
                        <p class="p1-description">?????</p>                            
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>
